<div class="container">
  <section class="dashboard-counts section-padding">
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-uppercase text-primary">Veículos</h1>
      </div>
    </div>
  </section>
  <form>
    <div class="form-group row justify-content-center">
      <div class="col-sm-10">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control"><span class="input-group-btn">
            <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button></span>
          </div>
        </div>
      </div>
    </div>
  </form>
  <section class="statistics section-padding section-no-padding-bottom">
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <% @vehicles.each do |vehicle| %>
        <div class="col-lg-4 card-vehicle">
          <!-- Monthly Usage-->
          <div class="wrapper data-usage">
            <div class="row">
              <div class="col-md-6">
                <h2 class="display h4"><%= vehicle.model %></h2>
              </div>
              <div class="col-md-6">
                <strong class="text-primary">R$ 69,99</strong>
              </div>
            </div>
            <div class="row d-flex align-items-center">
              <div class="col-sm-6">
                <!-- image to test -->
                <i class="fa fa-car" aria-hidden="true" style="font-size:5em;"></i>
                 <!-- image real -->
                <!--<img src="..." class="rounded float-left" alt="car" height="100%" width="100%"/>-->
              </div>
              <div class="col-sm-6">
                <small>Marca</small><span><%= vehicle.brand %></span>
                <small>Portas</small><span><%= vehicle.doors_number %></span>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
