<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Business Website - Free Website Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="templatemo_container">
   
    <div id="templatemo_header">
    	<div id="logosection">
	        <div class="sitelogo"></div>
        	<div class="sitename">            	
            	Business<span></span>            </div>
      </div>
        <div id="header">
        	<div class="title">
            	We Offer<br />
	        	<span class="bigtext">The Best Strategy</span><br />
    	    	For your business.</div>

        </div>
	</div>
        <div id="templatemo_content">
        <div id="templatemo_left_column">           

    <!-- start of content -->
    
    
    	<!-- start of left column -->
    
        <div id="search">
              <input type="text" id="txtBusca" placeholder="Buscar..."/>

        </div> 

            <hr>
     
            <br/>
            
                       <hr>
                       <br>
                       <hr>
            <div align="center" id="leftcolumn_box02">
            	<h2>Veiculo</h2>
           
            </div>
    
   
        </div>
        
        <!-- end of left column -->
        
        <!-- start of middle column -->
        
    	<div id="templatemo_middle_column">
                    <hr>

        	<h1>Preencha os dados do Veiculo</h1>
                        <hr>

          <p>
            This free CSS layout is provided by <a href="#">templatemo</a>. Feel free to edit and apply this template layout for your personal or commercial websites. Credit goes to <a href="http://fantasybrushes.deviantart.com" target="_blank">Marilyn</a>  for photoshop brush applied in header graphics.</p>
          <p>
Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum. Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. <a href="#">Read more...</a>
            </p> <br />
            
        

       <!--      
            <div id="section2">
                <div class="section2_top">
                    <h2>Lorem ipsum dolor</h2>
                </div>
                <div class="section2_bottom">
			      	<ul>
                        <li><a href="#">Vestibulum blandit lacus</a></li>
                        <li><a href="#">Mauris blandit vehicula</a></li>
                        <li><a href="#">Proin consectetuer</a></li>
                        <li><a href="#">Flash Resources</a></li>
                        <li><a href="#">Website Templates</a></li>
                        <li><a href="#">Cras urna metus</a></li>
                        <li><a href="#">Nunc quis seme</a></li>
					</ul>
                    <div class="more_button"><a href="#">More...</a></div>
            	</div>
            </div> -->
            
        </div>
        
        <!-- end of middle column -->
        
        <!-- start of right column -->
        
    
        <!-- end of right column -->
    
    </div>
    
    <!-- end of content -->
        
        
	<div id="templatemo_footer">
        <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Contact Us</a><br />
        Copyright ©  <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com --></div>
    <div id="templatemo_footer_bottom"></div>

</div>

<!-- templatemo 023 business -->
<!-- 
Business Template 
http://www.templatemo.com/preview/templatemo_023_business 
-->
</body>
</html>